* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em;
    background-color: #06a9b4;
    color: #fff;
    border-bottom: 1px solid #bdbcbc;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 3em;
}

#navbar ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3em;
    color: #fff;
}

#container {
    margin: 2em auto;
    max-width: 450px;
}

#container form {
    margin-top: 1.5em;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input, 
.form-control textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

form input[type='submit'] {
    background-color: #06a9b4;
    color: #fff;
    padding: .7em 1.5em;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}