<h1>Todas as tasks</h1>
<ul class="task-list">
    {{#each tasks}}
        <li>
            <p>{{this.title}}</p>
            <div class="actions">

                <form action="" method="post">
                    <i class="bi bi-check-lg"></i>
                </form>

                <a href="/tasks/edit/{{this.id}}"><i class="bi bi-pencil-square"></i></a>

                <form action="">
                    <i class="bi bi-x-lg"></i>
                </form>

            </div>
        </li>
    {{/each}}
</ul>
